<nav class="navbar navbar-expand-lg custom-navbar bbg-dark border-bottom border-4 border-warning shadow">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 text-warning fw-bold" href="#">GlobeTrotterPaco</a>
    <button class="navbar-toggler border-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active text-warning fw-bold" href="#">Home</a>
        <a class="nav-link text-light" href="#">Post</a>
        <a class="nav-link text-light" href="#">New Post</a>
        <a class="nav-link text-secondary disabled" aria-disabled="true">
          <i class="fa-solid fa-user"></i> Login
        </a>
      </div>
    </div>
  </div>
</nav>
