<section class="container my-3" if="ipostData">
  <div class="card">
    <div class="card-body">
       <figure>
          <img [src]="ipostData.image" [alt]="ipostData.title" class="card-img-top">
       </figure>
         <h5 class="card-title">{{ ipostData.title }}</h5>
            <p class="card-text">{{ ipostData.text }}</p>
    </div>
       <ul class="list-group list-group-flush">
          <li class="list-group-item">Autor: <strong>{{ ipostData.author }}</strong></li>
          <li class="list-group-item">Fecha de post: {{ ipostData.date }}</li>
          <li class="list-group-item">Categoría: <strong>{{ ipostData.category }}</strong></li>
       </ul>
    <div class="card-body">
         <button class="btn btn-outline-warning shadow" [routerLink]="['/home']">Volver</button>
    </div>
  </div>
</section>






